<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC4Fi2hOrfSaJ-Ec6lM3J553NlLYQQGvZI</string>
	<key>GCM_SENDER_ID</key>
	<string>34952363162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anthonytoyco.verifeed</string>
	<key>PROJECT_ID</key>
	<string>veri-feed-s82b5u</string>
	<key>STORAGE_BUCKET</key>
	<string>veri-feed-s82b5u.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:34952363162:ios:11a906d614be7277bdb323</string>
</dict>
</plist>